h1{
    color:blue;
    text-align:center;
}

h2{
    color:red;
    font-style:italic;
    text-align:left;
}
p{ 
     color:black;
     font-family:new times roman:
}

ul{ 
     line-height:40px;
}
    
    
     

