h1{
    color:blue;
    text-align:center;
}

h2{
    color:red;
    font-style:italic;
    text-align:left;
}
p{ 
     color:#FF5733;
     font-family:new times roman:
}

ul{ 
     line-height:40px;

}
{
     background-color:#211F51

}
    
    
     

